.App {
  text-align: center;
  display: flex;
  height: 1000px;
  width: 1500px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.infoblock {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.region1 {
  fill: transparent;
  stroke: black;
  stroke-dasharray: 10;
  animation: dash 5s linear infinite;
  transition: 1s ease-in-out;
}

.region1:hover {
  fill: red;
}

.region2 {
  fill: transparent;
  stroke: black;
}

.region2:hover {
  animation: colorswitch 5s linear infinite alternate;
}

.region3 {
  fill: transparent;
  stroke: black;
  stroke-width: 1;
  transition: 2s linear;
}

.region3:hover {
  stroke: rgb(186, 26, 207);
  stroke-width: 5;
}

.region4 {
  fill: transparent;
  stroke: black;
  transition: 3s ease-in;
  stroke-dasharray: 0;
  stroke-width: 4;
}

.region4:hover {
  stroke-dasharray: 10;
  stroke: rgb(51, 206, 37);
  
}

.region5 {
  fill: transparent;
  stroke: black;
  transition: 2s ease-in-out;
}

.region5:hover {
  stroke: aqua;
  fill: aqua;
}

@keyframes dash {
  to {
    stroke-dashoffset: 300;
  }
}

@keyframes colorswitch {
  0% {
    fill: red;
  }
  15% {
    fill: orange
  }
  30% {
    fill: yellow
  }
  45% {
    fill: green
  }
  60% {
    fill: aqua
  }
  75% {
    fill: blue;
  }
  90% {
    fill: purple;
  }
  100% {
    fill: magenta;
  }
}

stop {
    animation: colors 12s infinite;
}

.stop-2 {
    animation-delay: -3s;
}

.stop-3 {
    animation-delay: -6s;
}

@keyframes colors {
    30% {
        stop-color: gold;
    }
    60% {
        stop-color: yellowgreen;
    }
    90% {
        stop-color: orangered;
    }
  }

.region6 {
  fill: transparent;
  stroke: black;
  transition: 1s ease;
}

.region6:hover {
  fill:url(#gradlinear);
}